.ItemDetailsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ItemActionButtonLeftIcon {
  margin-right: 8px;
}

.ItemNameInputField {
  border-radius: 4px;
  padding: 10px;
  font-size: 1.5rem;
  margin-right: 8px;
  border: 1px solid #262831;
  background-color: #11121c;
  font-weight: bold;
  color: white;
}

.ItemNameInputField:disabled {
  background-color: #191c25;
  color: rgb(84, 84, 84);
}

.ItemUpdateNameContainer {
  display: flex;
}

.ItemQuantityOperationsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.ItemInformationQuantityContainer {
  background-color: #11121c;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #262831;
  margin: 0 8px;
}
