.ItemListItemContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #262831;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #191c25;
}

.ItemListItemInformationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ItemListItemInformationQuantityContainer {
  background-color: #11121c;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #262831;
  margin: 0 8px;
}

.ItemListItemQuantityOperationsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
}

.ItemListItemInformationName {
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
}

.ItemListItemContainer:hover .ItemListItemGoToDetails {
  display: block;
}

.ItemListItemGoToDetails {
  display: none;
}
